name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs: 

  build:

    runs-on: self-hosted

    steps: 
    - uses: actions/checkout@v4
    - name:  Install Docker
      run: |
        apt-get update
        apt-get install -y docker.io
        systemctl start docker
        usermod -aG docker $USER
    - name: Build the Docker image
      run: docker build --tag frozenbloo/github-actions-image:latest .
